<!--
  ~ Copyright (c) 2019. RRatChet.
  ~ Created by ASLai(laijianhua@rratchet.com).
  ~
  ~ 项目名称：rratchet-sdk-rxbus-trunk
  ~ 模块名称：library
  ~
  ~ 文件名称：AndroidManifest.xml
  ~ 文件描述：
  ~
  ~ 创 建 人：ASLai(laijianhua@rratchet.com)
  ~
  ~ 上次修改时间：2019-04-02 18:07:57
  ~
  ~ 修 改 人：ASLai(laijianhua@rratchet.com)
  ~ 修改时间：2019-04-02 23:18:47
  ~ 修改备注：
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rratchet.sdk.rxbus" />
